.chat-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.chat-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allMessages {

  bottom: 80px;
  height: 75vh;
  padding: 20px 10px;
  margin-bottom: 2rem;
  width:75%;

  overflow-y: scroll;
}

@media only screen and (max-width:800px) {
  .allMessages{
    width: 100%;
  }
  
}

.rce-mbox-text-retracted.right {
color:none !important
}